{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <section style=" width: 500px;" class="login">

    <form  method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr>
                <th><label for="id_username">Username:</label></th>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <th><label for="id_password">Password:</label></th>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <button class="button submit" data-analytics="sign-in" type="submit">Log in</button>
        <span class="create-account">
            <a data-analytics="create-account" href="/register">Create an Account</a>
            </span>
        <input type="hidden" name="next" value="/home"/>
    </form>
    </section>
{% endblock %}